.browser {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    visibility: hidden;
    width: 1366px;
    margin: 0 auto;
    overflow-y: hidden;
}

.browser--desktop {
    width: 100%;
    max-width: 916px;
}

.browser--tablet {
    width: 100%;
    max-width: 778px;
}

.browser--mobile {
    width: 100%;
    max-width: 375px;
}

.browser__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-height: 92vh;
    margin-bottom: 1.2rem;
}